<h2>Détail du Timeline</h2>

<h2>Edition d'une carte</h2>

<div id = "formulaire">
<form [formGroup]="addCardForm" (ngSubmit)="addCard()">
  <label for="name">Nom :</label>
  <input  id="name" type="text" name="name"  required formControlName="formName">

  <label for="dateCreation">Date de Creation :</label>
  <input  id="dateCreation" type="date" name="dateCreation"  required formControlName="formDateCreation">

  <label for="url">URL :</label>
  <input  id="url" type="text" name="url"  required formControlName="formUrl">

  <label for="description">Description :</label>
  <input  id="description" type="date" name="description"  required formControlName="formDescription">

  <button type="submit"> Sauver la carte</button>

</form>

</div>

<h2>Liste des cartes</h2>


<table>
  <thead>
  <tr>
    <th>id</th>
    <th>Nom</th>
    <th>Date</th>
    <th>URL d'image</th>
    <th>Description</th>
    <th>Editer ?</th>
    <th>Supprimer ?</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let card of cards | async">
    <td>{{card.id}}</td>
    <td>{{card.name}}</td>
    <td>{{card.date}}</td>
    <td>{{card.imageUrl}}</td>
    <td>{{card.description}}</td>
    <td>
      <a routerLinkActive="active" routerLink="/timeline-edit">Editer</a>
    </td>
    <td>
      <button (click)="onDeleteCardById(card.id)">Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>


