<h2>Liste des cartes</h2>

<div id="containerBtnAddTimeline">
  <app-add-timeline></app-add-timeline>
</div>


<table>
  <thead>
  <tr>
    <th>id</th>
    <th>Nom</th>
    <th>Date</th>
    <th>URL d'image</th>
    <th>Description</th>
    <th>Editer ?</th>
    <th>Jouer !</th>
    <th>Supprimer ?</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor = "let card of cards | async" >
    <td>{{card.id}}</td>
    <td>{{card.name}}</td>
    <td>{{card.date}}</td>
    <td>{{card.imageUrl}}</td>
    <td>{{card.description}}</td>
    <td>
      <a routerLinkActive="active" routerLink="/timeline-edit">Editer</a>
    </td>
    <td>
      <a routerLinkActive="active" routerLink="/timeline-play">Jouer</a>
    <td>
      <button>Supprimer</button>
    </td>
  </tr>
  </tbody>
</table>


